@import "../../styles.scss";

*, ::after, ::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

div.panel {
  width: 100%;
  left: 0;
  right: 0;
  margin-top: 10px;
  z-index: 4;
  @include textregular(12px, $snow-white);
}

details {
  background-color: $dark-gray;
  border-bottom: 1px solid #e0e0e0;
  box-shadow:0 0 2px rgba(0,0,0,0.12),0 2px 4px rgba(0,0,0,0.24);
  display:flex; }

details div.content {
  padding: 0;
}

details[open] summary:after {
  color:#e2e1e1;
  font-family: 'Material Icons';
}

details[open] {
  margin-top:2px;
  margin-bottom:2px;
  border: none;
  border-radius: 2px;
  height: 300px;
}

details[open]:first-child {
  margin-top:0;
  margin-bottom:2px;
  border:none;
}

details[open]:last-child {
  margin-top:2px;
  margin-bottom:0px;
  border:none;
}

summary {
  outline:none;
  cursor: pointer;
  padding-left: 24px;
  padding: 10px;
  color:#fcfcfc;
  position: relative;
  font-size: 15px;
}

summary:hover {
  background:#1b1b1b;
}

details[open] summary:hover {
  background: none;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  font-family: 'Material Icons';
  color: #fcfcfc;
  font-size: 1.5em;
  padding: 0;
  text-align: center;
  margin-top: 0;
  position: absolute;
  top: calc(70% - 12px);
  bottom: 0;
  right: 0;
  width: 6%;
}  

.titleValue{ color: #fcfcfc; }  
time{ color: #fcfcfc; opacity: .75; }  
.list-unstyled { margin-top:15px; padding-left: 0; list-style: none;}
.list-unstyled li{ margin-bottom:6px; }

#mapWrapper {
  position: absolute;
  top: 48px;
  width: 100%;
  margin: 0;
  padding: 0;

  & #legendWrapper {
    position: absolute;
    bottom: 30px; // #navBar.height() + 10px
    right: 10px;
    width: 150px;
  }
}

 #sliderWrapper {
  position: absolute;
  top: 100px; // #navBar.height() + 6px
  left: 15px;
  height: 300px; // Overwritten by DashboardComponent.resizeComponents()
  // border: 1px solid blue;
}

 #analyticsWrapper {
  position: absolute;
  width: 100%;
  bottom: 0px;

  & #chartsWrapper {
    width: 75%;
    background-color: $dark-gray;
    height: 300px;
    padding: 0;
    float: left;
  }

  & #statsWrapper {
    width: 25%;
    background-color: $dark-gray;
    height: 300px;
    float: left;
    padding: 0;

    & #reportTools {
      width: 100%;
      height: 32px;
      border-bottom: 1px solid white;
      text-align: right;

      & a {
        padding: 3px 8px 3px 8px;
        margin-right: 10px;
        line-height: 32px;
        color: $snow-white;
        background-color: mat-color($mat-light-blue, 800);
        border-radius: 3px;
        text-decoration: none;
        &:hover {
          cursor: pointer;
          background-color: mat-color($mat-light-blue, 600);
        }
      }

      #spinner {
        position: absolute;
        top: 2px;
        right: 10px;
      }
    }
  }
}
