<div id="legendDiv">
  <p id="header">{{ 'legend.title' | translate }}</p>

  <table id="legend" class="mat-caption">
      <tr class="mat-caption">
        <td><span id="flood" style='color:#31aade'>●</span></td>
        <td> {{ 'legend.flood' | translate }}</td>
      </tr>
      <tr class="mat-caption">
        <td><span id="haze" style='color:#99bfb3'>●</span></td>
        <td> {{ 'legend.haze' | translate }}</td>
      </tr>
      <tr class="mat-caption">
        <td><span id="earthquake" style='color:#f2bf07'>●</span></td>
        <td> {{ 'legend.earthquake' | translate }}</td>
      </tr>
      <tr class="mat-caption">
        <td><span id="wind" style='color:#d3ede5'>●</span></td>
        <td> {{ 'legend.wind' | translate }}</td>
      </tr>
      <tr class="mat-caption">
        <td><span id="volcano" style='color:#a10202'>●</span></td>
        <td> {{ 'legend.volcano' | translate }}</td>
      </tr>
      <tr class="mat-caption">
        <td><span id="fire" style='color:#f23a07'>●</span></td>
        <td> {{ 'legend.fire' | translate }}</td>
      </tr>
      <!-- <tr>
        <td class="square alert1"></td>
        <td> {{ 'legend.level_1' | translate }}</td>
      </tr>
      <tr>
        <td class="square alert2"></td>
        <td> {{ 'legend.level_2' | translate }}</td>
      </tr>
      <tr>
        <td class="square alert3"></td>
        <td> {{ 'legend.level_3' | translate }}</td>
      </tr>
      <tr>
        <td class="square alert4"></td>
        <td> {{ 'legend.level_4' | translate }}</td>
      </tr> -->
  </table>
</div>
