<div id="legendDiv">
  <p id="header">{{ 'legend.title' | translate }}</p>

  <table id="legend" class="mat-caption">
      <tr class="mat-caption">
        <td><span class="flood">●</span></td>
        <td> {{ 'legend.flood' | translate }}</td>
      </tr>
      <tr class="mat-caption">
        <td><span class="haze">●</span></td>
        <td> {{ 'legend.haze' | translate }}</td>
      </tr>
      <tr class="mat-caption">
        <td><span class="earthquake">●</span></td>
        <td> {{ 'legend.earthquake' | translate }}</td>
      </tr>
      <tr class="mat-caption">
        <td><span class="wind">●</span></td>
        <td> {{ 'legend.wind' | translate }}</td>
      </tr>
      <tr class="mat-caption">
        <td><span class="volcano">●</span></td>
        <td> {{ 'legend.volcano' | translate }}</td>
      </tr>
      <tr class="mat-caption">
        <td><span class="fire">●</span></td>
        <td> {{ 'legend.fire' | translate }}</td>
      </tr>
  </table>
</div>
